[global]
type=global
user_agent=KubeVoIP-Asterisk-Worker

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[kamailio]
type=endpoint
context=applications
disallow=all
allow=ulaw
aors=kamailio

[kamailio]
type=aor
max_contacts=10

[kamailio-identify]
type=identify
endpoint=kamailio
match=0.0.0.0/0
