[global]
type=global
user_agent=KubeVoIP

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:{{ spec.sip.port }}

{% for endpoint in endpoints %}
[{{ endpoint.name }}]
type=endpoint
context=internal
disallow=all
allow=ulaw
auth={{ endpoint.name }}-auth
aors={{ endpoint.name }}-aor
callerid={{ endpoint.caller_id }}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[{{ endpoint.name }}-auth]
type=auth
auth_type=userpass
username={{ endpoint.name }}
password={{ endpoint.password }}

[{{ endpoint.name }}-aor]
type=aor
max_contacts=1
remove_existing=yes

{% endfor %}
